<div class="container">
  <div class="row text-center mt-4">

    <div class="col-md-2 p">
      <p>Station Service</p>
    </div>

    <div class="col-md-2 "></div>

    <div class="col-md-8 navigation">
      <div class="row text-end text-center">
        <div class="col md-2 "><a routerLink="/index">Index</a></div>
        <div class="col md-2 "><a routerLink="/compte-rendu">Compte</a></div>
        <div class="col md-2 "><a routerLink="/ajouter-client">Client</a></div>
        <div class="col md-2 "><a routerLink="/ajouter-salarie">Salarié</a></div>
        <div class="col md-2 "><a routerLink="/dette">Dettes</a></div>
        <div class="col md-2 "><a routerLink="/depense">Depenses</a></div>
      </div>
    </div>

    <div class="col">
      <div class="trait"></div>
    </div>
    
    </div>
</div>

