<ion-content>
  <div class="container">

      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-6 form mx-auto my-auto d-block">



        <form class="py-3 px-3 ">
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Ajouter une Dette</b></legend>
          </fieldset>

          <hr>

            <table>
              <tbody>
                <div class="col-md-12 mb-3 mt-4">
                  <tr>
                    <td><label for="identifiant"> Client  :<span style="color: red;">* </span></label>  </td>
                    <td><select name="" id="" class="mx-5">
                      <option value="">Choisir le Client</option>
                    </select></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 mt-4">
                  <tr>
                    <td><label for="identifiant"> id Compte:<span style="color: red;">* </span></label>  </td>
                    <td><select name="" id="" class="mx-3">
                      <option value="">Choisir la date du compte</option>
                    </select></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 mt-4">
                  <tr>
                    <td><label for="identifiant"> Motif :<span style="color: red;">* </span></label>  </td>
                    <td><select name="" id="" class="mx-5">
                      <option value="">--Choisir--</option>
                    </select></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Litre :<span style="color: red; text-align: right;">* </span></label></td>
                    <td><input type="text" name="contact" class="mx-5" placeholder="Saisir le contact du client"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-5">
                  <tr>
                    <td><label for="identifiant">Montant :<span style="color: red; text-align: right;">* </span></label></td>
                    <td><input type="text" name="adresse" class="mx-3" placeholder="0"></td>
                  </tr>
                </div>

              </tbody>
            </table>

          <button class="btn btnAjouter mx-auto d-block">Ajouter</button>
        </form>

      </div>

</div>

</ion-content>
