<ion-content>
  <div class="container">
    <div class="principale">
    <div class="row boxShadow">
      

      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-5 mb-3 mt-5 mx-3 form">
    
        <form class="py-3 px-3">
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Ajouter Salarié</b></legend>
          </fieldset>
          
            <table>
              <tbody>
                <div class="col-md-12 mt-5 mb-3">
                  <tr>
                    <td><label for="identifiant">Nom:<span style="color: red;">* </span></label>  </td>
                    <td><input type="text" name="nom" class="mx-5" placeholder="Saisir le nom du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Prenom :<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="prenom" class="mx-3" placeholder="Saisir le prenom du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Contact :<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="contact" class="mx-3" placeholder="Saisir le contact du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Adresse:<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="adresse" class="mx-3" placeholder="Saisir l'adresse du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-4 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Salaire:<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="salaire" class="mx-4" placeholder="Saisir le salaire du salarié"></td>
                  </tr>
                </div>
              </tbody>
            </table>


          <button class="btn btnAjouter mx-auto d-block">Ajouter</button>
        </form>

     

      </div>
      <!-- <div class="col-1 col-md-1 "></div> -->
      

      <!------------- Colonne Gauche---->
      <div class="col-12 col-md-6 mt-5 mx-4 tabl">
        <div class="row mt-2 mb-2">
          <div class="col ">
            <form class="d-flex text-end">
              <input type="search" class="form-control me-2 sh" placeholder="Recherchez un Salarié">
              <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
           
          </div>
        </div>

        <table class="table">
          <tbody>
            
              <tr class="tables">
                <th style="border-radius: 10px 0 0 0 ;">Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Contact</th>
                <th style="border-radius: 0 10px 0 0 ;">Salaire</th>
              </tr>
              <tr>
                <td>Haidara</td>
                <td>Blacky</td>
                <td>Kalaban</td>
                <td>905478</td>
                <td>120000</td>
              </tr>
              <tr>
                <td>Haidara</td>
                <td>Blacky</td>
                <td>Kalaban</td>
                <td>905478</td>
                <td>120000</td>
              </tr>
              <tr>
                <td>Haidara</td>
                <td>Blacky</td>
                <td>Kalaban</td>
                <td>905478</td>
                <td>120000</td>
              </tr>
              <tr>
                <td>Haidara</td>
                <td>Blacky</td>
                <td>Kalaban</td>
                <td>905478</td>
                <td>120000</td>
              </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

</ion-content>
