<ion-content>
  <div class="container">
    <div class="principale">
    <div class="row boxShadow">
      <!------------- Colonne Gauche---->
      <div class="col-12 col-md-6 imgGauche">

        <div class="contenu py-5">
          <div class="py-5"></div>
          <h2 class="display-5 text-center" style="font-weight: bold;">Bienvenue</h2>
          <h6>Sur <span style="color:#FF6600">Station </span>Service</h6>
        </div>

      </div>

      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-6 form">



        <form class="py-3 px-3">
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Ajouter Salarié</b></legend>
          </fieldset>
          
            <table>
              <tbody>
                <div class="col-md-12 mb-3">
                  <tr>
                    <td><label for="identifiant">Nom:<span style="color: red;">* </span></label>  </td>
                    <td><input type="text" name="nom" class="mx-5" placeholder="Saisir le nom du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Prenom :<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="prenom" class="mx-3" placeholder="Saisir le prenom du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Contact :<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="contact" class="mx-3" placeholder="Saisir le contact du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-3 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Adresse:<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="adresse" class="mx-3" placeholder="Saisir l'adresse du salarié"></td>
                  </tr>
                </div>

                <div class="col-md-12 mb-4 form-row form-floating">
                  <tr>
                    <td><label for="identifiant">Salaire:<span style="color: red;">* </span></label></td>
                    <td><input type="text" name="salaire" class="mx-4" placeholder="Saisir le salaire du salarié"></td>
                  </tr>
                </div>
              </tbody>
            </table>


          <button class="btn btnAjouter mx-auto d-block">Ajouter</button>
        </form>

      </div>
    </div>
  </div>

</div>

</ion-content>
